* {
  font-family: 'Cormorant Garamond', sans-serif;
}

/* running text */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.text {
  background-color: #96A8AF;
  overflow: hidden;
}

.text span {
  display: block;
  white-space: nowwrap;
  animation: scroll 20s linear infinite;
  font-size: 16px;
  color: white;
}

/* navigation above */

.nav-container {
  background: #062728;
  height: 200px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;

}

nav .logo {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.nav-items li {
  list-style: none;
  margin-right: 100px;
}

.nav-items li a {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  font-family: 'Cormorant Garamond';
  text-decoration: none;
  font-size: 20px;
}

.nav-items li a:hover {
  text-decoration: underline;
}

.heading h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hamburger menu */

.hamburger {
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width:25px;
  height:3px;
  margin:5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* room-container */

.room-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #96A8AF;
  color: #062728;
}

.room-container img {
  display: flex;
  flex-direction: row !important;
}

.room-container h3 {
  margin: 20px 100px;
}

.photos {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.photo {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.room-info {
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin: auto;
}

.room-info p {
  font-size: 16px;
}

.div-room-info {
  display: flex;
  flex-direction: row;
}

.room-info a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 36px;
  padding: 15px;
  display: inline-block;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.room-info a:hover {
  background-color: white;
  color: black;
  opacity: 50%;
}


/* amenities */

.amenites img {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: auto;
}

@media only screen and (max-width:750px) {

  .nav-items li a {
    font-size: 12px;
  }

  /* nav ul {
    display: list-item;
    list-style-type: none;
  } */

  .hamburger {
    display: block; 
  }

  .nav-items {
    position: fixed;
    left:-120%;
    top:70px; 
    gap:0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-link{
    margin: 16px 0;
  }

  .nav-items.active{
    left: 0;
  }

  .photo {
    display: flex;
    flex-direction: column;
  }

  .photos {
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .room-info {
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 30px;
  }

  .room-info p {
    font-size: 16px;
  }

  .div-room-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-content3 {
    text-align: center;
  }

}

@media only screen and (max-width:375px) {

  nav .logo {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
  }

  .nav-items li a {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    font-family: 'Cormorant Garamond';
    text-decoration: underline;
    font-size: 12px;
  }
}

/* footer */
.footer {
  background-color: #062728;
  color: white;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-logo {
  margin: 50px;
}

.footer h3 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}

.footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-info {
  display: flex;
  flex-direction: column;
}


.contact img {
  height: 20px;
  width: 20px;
}